@model Ticket

@{ 
    User usuariocreado = (User)ViewData["USUARIOCREADO"];
    User usuarioasignado = (User)ViewData["USUARIOASIGNADO"];
    List<Comment> comentarios=(List<Comment>) ViewData["COMENTARIOS"];
}

@section Scripts
{ 


}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ticket</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Detalles Ticket</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    @if (Model.estadoticket == "En proceso")
                    {
                        <div class="callout callout-info">
                            <h5><i class="fas fa-info"></i> Nota:</h5>
                            Este ticket esta en proceso aún puede sufrir cambios
                        </div>
                    }

                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <i class="fas fa-globe"></i> FIXABILITY
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                Datos Usuario
                                <address>
                                    <strong>@usuariocreado.Name</strong><br>
                                    Dirección: @usuariocreado.Address<br>
                                    Phone: @usuariocreado.Phone<br>
                                    Email: @usuariocreado.Email
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                Tecnico
                                @if (usuarioasignado != null)
                                {
                                    <address>
                                        <strong>@usuarioasignado.Name</strong><br>
                                        Dirección: @usuarioasignado.Address<br>
                                        Phone: @usuarioasignado.Phone<br>
                                        Email: @usuarioasignado.Email
                                    </address>
                                }
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>Ticket ID:</b> @Model.idticket<br>
                                <b>Creado en:</b> @Model.fechacreacion.ToLongDateString() , @Model.fechacreacion.ToLongTimeString()<br>
                                <div>
                                    Tiempo Empleado:
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <h1>Comentarios del ticket</h1>
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                            <th>Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Comment c in comentarios)
                                        {
                                            <tr>
                                                <td>@c.ComentarioUsuario</td>
                                                <td>@c.FechaComentario.ToShortDateString() @c.FechaComentario.ToShortTimeString()</td>
                                                <td>@c.Comentario</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                                @if (Context.User.IsInRole("2") || Context.User.IsInRole("3"))
                                {
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-comment"></i> Añadir Comentario</button>
                                    <a class="btn btn-warning float-right" style="margin-right: 5px;" asp-action="AsignarmeTicket" asp-controller="Users" asp-route-idticket="@Model.idticket">
                                        Asignarme Ticket
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                    @if (Context.User.IsInRole("2") || Context.User.IsInRole("3"))
                    {
                        <a class="btn btn-success" asp-action="CompletarTicket" asp-controller="Users" asp-route-idTicket="@Model.idticket">Completar Ticket</a>
                    }                    
                    <!-- /.invoice -->
                </div><!-- /.col -->
                
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Comentario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comentario:</label>
                        <textarea class="form-control" id="messagetext" name="messagetext"></textarea>
                        <input type="hidden" name="idTicket" value="@Model.idticket" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear Comentario</button>
                </div>
            </form>
        </div>
    </div>
</div>