@model List<Ticket>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Mis Tickets Creados</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Mis Tickets</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-blue">
                            <div class="card-header">
                                <h3 class="card-title">MIS TICKETS ACTIVOS</h3>
                            </div>
                            <!-- ./card-header -->
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Num Ticket</th>
                                            <th>Titulo</th>
                                            <th>Fecha y Hora Creación</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Ticket t in Model)
                                        {
                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>@t.idticket</td>
                                                <td>@t.titulo</td>
                                                <td>@t.fechacreacion.ToLongDateString() , @t.fechacreacion.ToShortTimeString()</td>
                                                <td>@t.estadoticket</td>
                                                <td><a asp-controller="Users" asp-action="DetallesTicket" asp-route-idticket="@t.idticket" class="btn btn-primary">Detalles</a></td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <p>
                                                        @t.textoticket
                                                    </p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>